.header {
  font-family: var(--font-sans);
  padding: .5rem 0;
  border-bottom: 4px dashed var(--color-gray-200);
}

.header > h1 {
  font-size: 2rem;
  font-weight: 400;
}

.header > nav {
	height: 16px;
}

.hideLinksBtn {
  font-size: 1.8rem;
  font-family: var(--font-sans);
  font-weight: 800;
  color: var(--theme-accent);
	text-decoration: underline;
}

.hideLinksBtn:hover {
  text-decoration: none;
}

.externalLink {
  display: flex;
}

.externalLink > svg {
  margin-left: 1px;
}

.link {
  color: var(--color-gray-700);
  font-weight: 800;
  font-size: 14px;
  margin-left: 10px;
}

.hiddenLink {
  display: none;
}
