.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--theme-text-light);
  font-size: 14px;
}

.footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.footer p span {
  color: var(--color-gray-400);
}
