.langFilterContainer {
  display: flex;
  justify-content: flex-end;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-ovo);
}

.date {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: small;
  margin-bottom: 4px;
}

.blogUtils {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.post {
  padding: 1rem 0 0.5rem 0;
}

.postTitle {
  display: block;
  font-size: 24px;
  color: var(--color-gray-200);
  font-family: var(--font-ovo);
  font-weight: 400;
  text-decoration: none;
}

.postTitle:hover {
  color: var(--theme-text);
}

.post > a:hover {
  color: var(--color--black);
}

.post > span {
  color: var(--color-gray-400);
  font-size: 14px;
}

.post > p {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
